@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #e6e6ea;
  display: grid;
  grid-template: min-content 1fr / 1fr 4fr;
  min-height: 100vh;
}
header {
  background-color: #f4f4f8;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  grid-column: 2;
}
nav {
  grid-column: 1;
  grid-row: 1 / span 2;
  background-color: #f2c078;
  padding: 100px 0px;
  align-items: center;
  gap: 50px;
}
nav,
nav > form {
  display: flex;
  flex-direction: column;
}
nav > button,
form > button {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: #ff495c;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s ease;
}
nav > button:hover,
form > button:hover {
  transform: scale(1.1);
  background-color: #d92335;
}
input[type="checkbox"] {
  float: right;
}
form > input {
  margin-bottom: 20px;
}
form > button {
  margin-top: 20px;
}
main {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
}
.card {
  border-radius: 10px;
  height: 200px;
  border-left: 5px solid #f2c078;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: #c5c9a4;
  margin: 15px;
  align-items: center;
  transition: 0.4s ease;
}
.card__title {
  font-size: 1.25rem;
  font-weight: 700;
}
.card__author {
  font-style: italic;
}
.card > p {
  margin-bottom: 20px;
}
.card > div {
  display: flex;
  gap: 20px;
}
.card > div > button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #f2c078;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s ease;
}
.card > div > button:hover {
  transform: scale(1.05);
  background-color: #e2a551;
}
.read {
  background-color: #9cde9f;
}
.unread {
  background-color: #f4f4f8;
}
